h1{
    text-align: center;
}
.section4cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
.carddd{
    width: 500px;
    img{
        width: 50px;
    }
}
}